.errorMessage {
    color: red;
    font-size: 14px;
    margin-left: 10px;
}

.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 8px 20px 8px 15px;
    width: 50%;
    margin-bottom: 20px;
    border: 1px solid #303245;
}



@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}

.textarea {
    background-color: #303245;
    border-radius: 12px;
    border: 1px solid #303245;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 8px 20px 8px 15px;
    width: 100%;
}

.input:focus {
    border: 1px solid #3ea6ff;
}

.textarea:focus {
    border: 1px solid #3ea6ff;
}

.inputError {
    border: 1px solid red !important;
    animation-name: shake;
    animation-duration: 500ms;
}